%list-grid
  display: grid
  grid-auto-rows: 1fr

  @media (min-width: $desktop-breakpoint)
    grid-template-columns: 328px 328px 328px
    grid-gap: 40px 20px

  @media (min-width: $mobile-breakpoint) and (max-width: 639px)
    grid-template-columns: 100%
    grid-gap: 20px

  @media (min-width: 640px) and (max-width: $desktop-breakpoint - 1)
    grid-template-columns: calc(50% - 10px) calc(50% - 10px)
    grid-gap: 20px

  @media (max-width: $mobile-breakpoint)
    grid-template-columns: 100%
    grid-gap: 20px 0px
