.App
  background-color: $site-bg-color
  
.container
  margin: 0 auto
  padding-top: 15px
  margin-top: 65px
  width: 100%
  min-height: calc(100vh - 257px)
  
  @media (min-width: $tablet-breakpoint)
    width: calc(100% - 20px)
    min-height: calc(100vh - 257px)


  @media (min-width: $desktop-breakpoint)
    width: 1024px
    min-height: calc(100vh - 257px)