.share
  width: 100%
  font-size: 20px
  font-family: $body-font

  &__links, &__embed
    display: grid
    grid-template-columns: 25px 1fr
  
    &-title
      font-weight: bold
      border-right: 1px solid $card-separator
      padding: 5px 0px

    span
      padding: 0px 20px 0px 0px
      cursor: pointer
    &-links
      padding: 5px 0px 5px 10px
  

  &__embed
    &-content
      padding: 5px 0px 5px 10px

      &__wrapper
        width: calc(100% - 5px)
        display: grid
        grid-template-columns: 1fr 25px
        border-radius: 4px
        border: 1px solid $default-textarea-border

      &__status-text
        font-size: 12px
        padding-top: 5px

      &__link
        font-weight: bold
        color: $brand-primary
        cursor: pointer

      &__textarea
        width: 100%
        padding: 5px
        font-size: 12px
        border: none
        background-color: transparent
      
      &__copy
        border-left: 1px solid $default-textarea-border
        background-color: $card-separator
        text-align: center
        line-height: 1em
        cursor: pointer
        font-size: 16px
        padding-top: 5px
        +fast_transition(all)

        &:hover
          background-color: $brand-primary
          color: $white-color
          +fast_transition(all)

