$white-color: #ffffff
$black-color: #333333
$not-found-color: lighten($black-color, 30%)

$font-color: #666666

$alert-color: #ff6363
$error-color: #D51818
$success-color: #43C021
$modal-bg-color: rgba(0,0,0,0.7)
$drop-shadow-color: rgba(0,0,0,0.1)

$brand-primary: #486982
$brand-secondary: #D04248

$fast-transition-speed: 0.3s
$medium-transition-speed: 0.6s
$slow-transition-speed: 0.9s

$tablet-breakpoint: 768px
$mobile-breakpoint: 480px
$desktop-breakpoint: 1024px

$facebook-color: #4267b2
$twitter-color: #1DA1f2
$pinterest-color: #BD081C

$status-unknown: #7B7B7B
$status-in-progress: $brand-primary
$status-true: $success-color
$status-false: $error-color

$card-border-color: rgba(0,0,0,0.1)
$card-date-color: #9A9A9A
$card-separator: #EDEEEF
$card-category-color: #95989A


$icon-size: 14px