.header
  with: 100%


.header-desktop
  @media (max-width: $tablet-breakpoint)
    display: none

  width: 100%
  display: grid
  background-color: $white-color
  height: 65px
  grid-template-columns: 140px 1fr
  

  &__logo
    width: 110px

    img
      max-width: 100%
      padding: 17px 15px 15px 15px

  &__links
    text-align: right

    a
      line-height: 4.5em
      font-family: $body-font
      font-size: 14px
      font-weight: bold
      text-decoration: none
      text-transform: uppercase
      padding: 15px
      color: $default-link-color

.header-mobile
  width: 100%
  top: 0px
  position: absolute

  @media (min-width: $tablet-breakpoint + 1)
    display: none
  
  

  &__strip
    height: 65px
    width: 100%
    display: grid
    background-color: $white-color
    grid-template-columns: 40px 1fr 40px

    &-toggle
      width: 40px
      padding: 15px
      line-height: 2.4em
      cursor: pointer

      .icon

      .icon--hidden
        display: none


    &-logo
      text-align: center
      img
        width: 110px
        padding: 17px 15px 15px 15px

    &-avatar
      width: 40px

  &__links--wrapper
    width: 300px
    height: 100%
    overflow-x: scroll
    position: fixed
    top: 65px
    left: -300px
    -webkit-transition: left 300ms ease
    transition: left 300ms ease
    background-color: $mobile-header-link-bg-color

    &--open
      left: 0px
      -webkit-transition: left 300ms ease
      transition: left 300ms ease

  &__links-bg
    position: fixed
    left: 0
    top: 65
    width: 100%
    height: 100%
    // display: none
    opacity: 0
    background-color: $modal-bg-color
    visibility: hidden
    -webkit-transition: opacity 300ms ease
    transition: opacity 300ms ease

    &--open
      // display: block
      opacity: 1
      visibility: visible
      -webkit-transition: opacity 300ms ease
      transition: opacity 200ms ease


  &__links
    width: 100%
    background-color: $mobile-header-link-bg-color

    a
      width: 100%
      display: block
      line-height: 4.5em
      font-family: $body-font
      font-size: 14px
      font-weight: bold
      text-decoration: none
      text-transform: uppercase
      padding: 15px
      color: $default-link-color
      box-sizing: border-box


@keyframes mobile_menu_open
  to
    left: 0px

@-moz-keyframes mobile_menu_open
  to
    left: 0px

@-webkit-keyframes mobile_menu_open
  to
    left: 0px

@keyframes mobile_menu_closed
  to
    left: -300px

@-moz-keyframes mobile_menu_closed
  from
    left: 0px
  to
    left: -300px

@-webkit-keyframes mobile_menu_closed

  to
    left: -300px
