@import "shared/variables";
@import "shared/mixins";
@import "shared/fonts";
@import "shared/defaults";
@import "shared/functions";
@import "shared/cards";
@import "shared/grids";
@import "shared/layout";
@import "shared/bookmark";
@import "shared/categories";
@import "shared/icons";
@import "shared/share";
@import "shared/comments";
@import "shared/inputs";

@import "components/claims";
@import "components/predictions";
@import "components/experts";
@import "components/header";
@import "components/footer";
@import "components/announcements";
@import "components/search";

@import "views/home";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
